<a href="https://colab.research.google.com/github/jcarvajalri/MineriaDatosUN/blob/main/Taller_Asociaci%C3%B3n_MD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Universidad Nacional de Colombia
###Minería de Datos

### Prof. Elizabeth León
### **Taller de Asociación**
### Presentado por: John David Carvajal

In [1]:
#Intalación de librerias 
!pip install apyori
!pip install apriori
!pip install pyfpgrowth
!pip install efficient-apriori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)
Requirement already satisfied: apriori in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: pyfpgrowth in /usr/local/lib/python3.7/dist-packages (1.0)
Requirement already satisfied: efficient-apriori in /usr/local/lib/python3.7/dist-packages (1.1.1)

In [2]:
#Import de Librerias
import numpy as np
import pandas as pd
import pyfpgrowth
import time
from efficient_apriori import apriori
from apyori import apriori as apy
from sklearn import preprocessing
from scipy import stats
from google.colab import files
import io

## Punto 1 “market basket”

Para el desarrollo de este punto se utilizó la libreria **from efficient_apriori import apriori**

In [ ]:
#Se realiza el cargue del archivo CSV
uploaded = files.upload()

Saving marketBasket.csv to marketBasket.csv

In [ ]:
# Se carga en un Dataframe la información del archivo que se cargo
df = pd.read_csv(io.BytesIO(uploaded['marketBasket.csv']), sep=';', encoding='latin-1') 
del df['ID'] # Se borra la columna de ID
df.head() 
df.shape 
df

   Leche  Cerveza  Pañales    Pan  Mantequilla  Galletas
0   True     True     True  False        False     False
1   True    False    False   True         True     False
2   True    False     True  False        False      True
3  False    False    False   True         True      True
4  False     True     True  False        False      True
5   True    False     True   True         True     False
6  False    False     True   True         True     False
7  False     True     True  False        False     False
8   True    False     True   True         True     False
9  False     True    False  False        False      True

In [ ]:
#Modificación del dataFrame para hacer listas de productos 
headers= list(df.columns.values) # encabezado de productos
records = df.to_records(index=False) #Tupla de df
trans = list(records) #Lista de transacciones con las tuplas
transactions = [] #Lista donde van a quedar los productos 
for i in range (0,len(trans)): #Se recorre la primera lista la cual es 9 tuplas 
   transactions.append([]) #Se agrega una nueva transacción
   for j in range(0,len(headers)): #Se recorre el encabezado que en si son los productos
      if trans[i][j] == True: #Se valida si es True
         transactions[i].append(headers[j])	#se agrega el producto 
print(transactions)

[['Leche', 'Cerveza', 'Pañales'], ['Leche', 'Pan', 'Mantequilla'], ['Leche', 'Pañales', 'Galletas'], ['Pan', 'Mantequilla', 'Galletas'], ['Cerveza', 'Pañales', 'Galletas'], ['Leche', 'Pañales', 'Pan', 'Mantequilla'], ['Pañales', 'Pan', 'Mantequilla'], ['Cerveza', 'Pañales'], ['Leche', 'Pañales', 'Pan', 'Mantequilla'], ['Cerveza', 'Galletas']]

In [ ]:
# (a) Una regla que tiene alto soporte y alta confianza
#Soporte = 70% confianza = 70% 
itemsets, rules = apriori(transactions, min_support=0.7,  min_confidence=0.7)
countAssociationRules =  len(rules)
results = list(itemsets)
print("Soporte 70% Confianza 60% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

Soporte 70% Confianza 60%
Cantidad de reglas de asociación 0
-------------------------------------------
Reglas k=1
-------------------------------------------
Reglas k=2
-------------------------------------------
Reglas k=3

In [ ]:
# (b) Una regla que tiene razonablemente alto soporte, pero baja confianza
#Soporte = 45% confianza = 15% 
itemsets, rules = apriori(transactions, min_support=0.45,  min_confidence=0.15)
countAssociationRules =  len(rules)
results = list(itemsets)
print("Soporte 45% Confianza 15% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

Soporte 45% Confianza 15%
Cantidad de reglas de asociación 2
-------------------------------------------
Reglas k=1
{Pan} -> {Mantequilla} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
{Mantequilla} -> {Pan} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
-------------------------------------------
Reglas k=2
-------------------------------------------
Reglas k=3

In [ ]:
# c) Una regla que tiene bajo soporte y baja confianza
#Soporte = 4.5% confianza = 10% 
itemsets, rules = apriori(transactions, min_support=0.20,  min_confidence=0.15)
countAssociationRules =  len(rules)
results = list(itemsets)
print("Soporte 20% Confianza 15% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

Soporte 20% Confianza 15%
Cantidad de reglas de asociación 56
-------------------------------------------
Reglas k=1
{Pañales} -> {Galletas} (conf: 0.286, supp: 0.200, lift: 0.714, conv: 0.840)
{Galletas} -> {Pañales} (conf: 0.500, supp: 0.200, lift: 0.714, conv: 0.600)
{Pañales} -> {Mantequilla} (conf: 0.429, supp: 0.300, lift: 0.857, conv: 0.875)
{Mantequilla} -> {Pañales} (conf: 0.600, supp: 0.300, lift: 0.857, conv: 0.750)
{Pañales} -> {Pan} (conf: 0.429, supp: 0.300, lift: 0.857, conv: 0.875)
{Pan} -> {Pañales} (conf: 0.600, supp: 0.300, lift: 0.857, conv: 0.750)
{Pañales} -> {Cerveza} (conf: 0.429, supp: 0.300, lift: 1.071, conv: 1.050)
{Cerveza} -> {Pañales} (conf: 0.750, supp: 0.300, lift: 1.071, conv: 1.200)
{Pañales} -> {Leche} (conf: 0.571, supp: 0.400, lift: 1.143, conv: 1.167)
{Leche} -> {Pañales} (conf: 0.800, supp: 0.400, lift: 1.143, conv: 1.500)
{Mantequilla} -> {Leche} (conf: 0.600, supp: 0.300, lift: 1.200, conv: 1.250)
{Leche} -> {Mantequilla} (conf: 0.600, supp: 0.300, lift: 1.200, conv: 1.250)
{Pan} -> {Leche} (conf: 0.600, supp: 0.300, lift: 1.200, conv: 1.250)
{Leche} -> {Pan} (conf: 0.600, supp: 0.300, lift: 1.200, conv: 1.250)
{Galletas} -> {Cerveza} (conf: 0.500, supp: 0.200, lift: 1.250, conv: 1.200)
{Cerveza} -> {Galletas} (conf: 0.500, supp: 0.200, lift: 1.250, conv: 1.200)
{Pan} -> {Mantequilla} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
{Mantequilla} -> {Pan} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
-------------------------------------------
Reglas k=2
{Mantequilla, Pan} -> {Pañales} (conf: 0.600, supp: 0.300, lift: 0.857, conv: 0.750)
{Leche, Mantequilla} -> {Pañales} (conf: 0.667, supp: 0.200, lift: 0.952, conv: 0.900)
{Leche, Pan} -> {Pañales} (conf: 0.667, supp: 0.200, lift: 0.952, conv: 0.900)
{Leche, Pañales} -> {Mantequilla} (conf: 0.500, supp: 0.200, lift: 1.000, conv: 1.000)
{Leche, Pañales} -> {Pan} (conf: 0.500, supp: 0.200, lift: 1.000, conv: 1.000)
{Mantequilla, Pan} -> {Leche} (conf: 0.600, supp: 0.300, lift: 1.200, conv: 1.250)
{Mantequilla, Pañales} -> {Leche} (conf: 0.667, supp: 0.200, lift: 1.333, conv: 1.500)
{Pan, Pañales} -> {Leche} (conf: 0.667, supp: 0.200, lift: 1.333, conv: 1.500)
{Leche, Pan} -> {Mantequilla} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{Leche, Mantequilla} -> {Pan} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{Pan, Pañales} -> {Mantequilla} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{Mantequilla, Pañales} -> {Pan} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
-------------------------------------------
Reglas k=3
{Leche, Mantequilla, Pan} -> {Pañales} (conf: 0.667, supp: 0.200, lift: 0.952, conv: 0.900)
{Mantequilla, Pan, Pañales} -> {Leche} (conf: 0.667, supp: 0.200, lift: 1.333, conv: 1.500)
{Leche, Pan, Pañales} -> {Mantequilla} (conf: 1.000, supp: 0.200, lift: 2.000, conv: 500000000.000)
{Leche, Mantequilla, Pañales} -> {Pan} (conf: 1.000, supp: 0.200, lift: 2.000, conv: 500000000.000)

In [ ]:
# (d) Una regla que tiene bajo soporte y alta confianza
#Soporte = 15% confianza = 70% 
itemsets, rules = apriori(transactions, min_support=0.15,  min_confidence=0.70)
countAssociationRules =  len(rules)
results = list(itemsets)
print("Soporte 15% Confianza 70% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

Soporte 15% Confianza 70%
Cantidad de reglas de asociación 10
-------------------------------------------
Reglas k=1
{Cerveza} -> {Pañales} (conf: 0.750, supp: 0.300, lift: 1.071, conv: 1.200)
{Leche} -> {Pañales} (conf: 0.800, supp: 0.400, lift: 1.143, conv: 1.500)
{Pan} -> {Mantequilla} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
{Mantequilla} -> {Pan} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
-------------------------------------------
Reglas k=2
{Leche, Pan} -> {Mantequilla} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{Leche, Mantequilla} -> {Pan} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{Pan, Pañales} -> {Mantequilla} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{Mantequilla, Pañales} -> {Pan} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
-------------------------------------------
Reglas k=3
{Leche, Pan, Pañales} -> {Mantequilla} (conf: 1.000, supp: 0.200, lift: 2.000, conv: 500000000.000)
{Leche, Mantequilla, Pañales} -> {Pan} (conf: 1.000, supp: 0.200, lift: 2.000, conv: 500000000.000)

## Punto 3 “Conjunto de datos milk, beer, diapers, bread, butter, cookies”

In [ ]:
#Creación de records con las listas 
a = [ ['milk', 'beer', 'diapers'], 
    [ 'bread', 'butter', 'milk'], 
    [ 'milk', 'diapers', 'cookies' ], 
    ['bread', 'butter', 'cookies' ], 
    ['beer', 'cookies', 'diapers' ], 
    [ 'milk', 'diapers', 'bread', 'butter' ], 
    ['bread', 'butter', 'diapers'], 
    [ 'beer', 'diapers' ], 
    ['milk', 'diapers', 'bread', 'butter' ], 
    ['beer', 'cookies' ]]
dict_data = {'items': a}
df = pd.DataFrame.from_dict(dict_data)
df

                            items
0           [milk, beer, diapers]
1           [bread, butter, milk]
2        [milk, diapers, cookies]
3        [bread, butter, cookies]
4        [beer, cookies, diapers]
5  [milk, diapers, bread, butter]
6        [bread, butter, diapers]
7                 [beer, diapers]
8  [milk, diapers, bread, butter]
9                 [beer, cookies]

In [ ]:
# Se valida los distintos productos que tenemos
items = []
for i in range(len(df)):
    for j in range(len(df['items'][i])):
        items.append(df['items'][i][j])
unique_item = set(items)
list_unique_item = list(unique_item)
list_unique_item

['cookies', 'bread', 'beer', 'milk', 'butter', 'diapers']

Selección de productos **k=1**

In [ ]:
##Creando el primer candidate K= 1
count_unique = []
for value in (list_unique_item):
    count_unique.append((value, items.count(value)))
count_unique

[('cookies', 4),
 ('bread', 5),
 ('beer', 4),
 ('milk', 5),
 ('butter', 5),
 ('diapers', 7)]

In [ ]:
# Se crea un Dataframe con los cantidatos k=1 
candidate1_df = pd.DataFrame(count_unique, columns=["itemset", "sup"])
candidate1_df

   itemset  sup
0  cookies    4
1    bread    5
2     beer    4
3     milk    5
4   butter    5
5  diapers    7

In [ ]:
#Creación de function que se lecciona la Frecuencia del itemSet (L1)
def filter_sup(candidate):
    minimum_sup = 2
    filtering = candidate['sup'] > minimum_sup
    freq = candidate[filtering]
    return freq

In [ ]:
freq_itemset1 = filter_sup(candidate1_df)
freq_itemset1

   itemset  sup
0  cookies    4
1    bread    5
2     beer    4
3     milk    5
4   butter    5
5  diapers    7

Selección de productos **k=2**

In [ ]:
#Se define la función Creación de K=2 , grupos de 2 ingredientes
def self_join(prev_freq_itemset):
    self_join_candidate = []
    for i in range(len(prev_freq_itemset['itemset'])):
        for j in range((i+1), len(prev_freq_itemset['itemset'])):
            itemset_i = prev_freq_itemset['itemset'][i]
            itemset_j = prev_freq_itemset['itemset'][j]
            if (type(itemset_i) == np.str and type(itemset_j) == np.str): #Nota: En este punto se debe validar con el tipo de dato en este caso son string
                itemset_i = {itemset_i}
                itemset_j = {itemset_j}
            union_candidate = itemset_i.union(itemset_j)
            if union_candidate not in self_join_candidate:
                self_join_candidate.append(union_candidate)
    return self_join_candidate

In [ ]:
#Lista de posibles combinaciones de 2 productos 
candidate2_list = self_join(freq_itemset1)
candidate2_list
count_candidate2 = []
#Set the Initial value of Second Count Candidate (C2)
for i in range(len(candidate2_list)):
    count_candidate2.append((candidate2_list[i], 0))
initial_df_candidate = pd.DataFrame(count_candidate2, columns=['itemset', 'sup'])
initial_df_candidate

               itemset  sup
0     {bread, cookies}    0
1      {beer, cookies}    0
2      {milk, cookies}    0
3    {butter, cookies}    0
4   {cookies, diapers}    0
5        {bread, beer}    0
6        {bread, milk}    0
7      {bread, butter}    0
8     {bread, diapers}    0
9         {beer, milk}    0
10      {beer, butter}    0
11     {beer, diapers}    0
12      {milk, butter}    0
13     {milk, diapers}    0
14   {butter, diapers}    0

In [ ]:
#Función para el conteo de posibles parejas
def count_support(database_dataframe, prev_candidate_list):
    initial_df_candidate['sup'] = 0 #Se establece todo con 0 solo para el valor inicial
    count_prev_candidate = []

    #Set the Initial value of Previous Candidate
    for i in range(len(prev_candidate_list)):
        count_prev_candidate.append((prev_candidate_list[i], 0))
    
    df_candidate = pd.DataFrame(count_prev_candidate, columns=['itemset', 'sup'])
    print('Database D dataframe\n', database_dataframe)
    print('(Initial) Dataframe from Candidate with All zeros sup\n', df_candidate)
    
    for i in range(len(database_dataframe)):
        for j in range(len(count_prev_candidate)):
            #using issubset() function to check whether every itemset is a subset of Database or not
            if (df_candidate['itemset'][j]).issubset(set(database_dataframe['items'][i])): 
                df_candidate.loc[j, 'sup'] += 1
            
    return df_candidate

In [ ]:
count_candidate2_df = count_support(df, candidate2_list)

Database D dataframe
                             items
0           [milk, beer, diapers]
1           [bread, butter, milk]
2        [milk, diapers, cookies]
3        [bread, butter, cookies]
4        [beer, cookies, diapers]
5  [milk, diapers, bread, butter]
6        [bread, butter, diapers]
7                 [beer, diapers]
8  [milk, diapers, bread, butter]
9                 [beer, cookies]
(Initial) Dataframe from Candidate with All zeros sup
                itemset  sup
0     {bread, cookies}    0
1      {beer, cookies}    0
2      {milk, cookies}    0
3    {butter, cookies}    0
4   {cookies, diapers}    0
5        {bread, beer}    0
6        {bread, milk}    0
7      {bread, butter}    0
8     {bread, diapers}    0
9         {beer, milk}    0
10      {beer, butter}    0
11     {beer, diapers}    0
12      {milk, butter}    0
13     {milk, diapers}    0
14   {butter, diapers}    0

In [ ]:
count_candidate2_df

               itemset  sup
0     {bread, cookies}    1
1      {beer, cookies}    2
2      {milk, cookies}    1
3    {butter, cookies}    1
4   {cookies, diapers}    2
5        {bread, beer}    0
6        {bread, milk}    3
7      {bread, butter}    5
8     {bread, diapers}    3
9         {beer, milk}    1
10      {beer, butter}    0
11     {beer, diapers}    3
12      {milk, butter}    3
13     {milk, diapers}    4
14   {butter, diapers}    3

In [ ]:
#Calculo de frecuencia de dos items
# Se filtra basado en el mínimo soporte que en este caso es 3
freq_itemset2 = filter_sup(count_candidate2_df)
freq_itemset2_reset = freq_itemset2.reset_index(drop=True)
freq_itemset2_reset

             itemset  sup
0      {bread, milk}    3
1    {bread, butter}    5
2   {bread, diapers}    3
3    {beer, diapers}    3
4     {milk, butter}    3
5    {milk, diapers}    4
6  {butter, diapers}    3

Selección de productos **k=3**

In [ ]:
#Creación de K=3 , grupos de 3 ingredientes
print(freq_itemset2_reset)
self_join_result = self_join(freq_itemset2_reset)
print('self join result')
print(self_join_result)

             itemset  sup
0      {bread, milk}    3
1    {bread, butter}    5
2   {bread, diapers}    3
3    {beer, diapers}    3
4     {milk, butter}    3
5    {milk, diapers}    4
6  {butter, diapers}    3
self join result
[{'bread', 'milk', 'butter'}, {'bread', 'milk', 'diapers'}, {'bread', 'milk', 'beer', 'diapers'}, {'bread', 'milk', 'butter', 'diapers'}, {'bread', 'butter', 'diapers'}, {'bread', 'butter', 'beer', 'diapers'}, {'bread', 'beer', 'diapers'}, {'beer', 'milk', 'butter', 'diapers'}, {'beer', 'milk', 'diapers'}, {'beer', 'butter', 'diapers'}, {'milk', 'butter', 'diapers'}]

In [ ]:
def get_subset(candidate):
    temp = []
    final = []
    for i in range(len(candidate)):
        for j in range(len(candidate)):
            if i != j:
                temp.append(candidate[j])
        temp_set = set(temp)
        final.append(temp_set)
        temp.clear()
    print('Subset from {} : {}'.format(candidate, final))
    return final

def pruning(candidate_set, prev_freq_itemset):
    print('Candidate set', candidate_set)
    temp = []
    
    for idx, value in enumerate(candidate_set):
        list_candidate = list(value)
        temp_candidate = (get_subset(list_candidate))
        
        for temp_item in temp_candidate:
            print('Temp item', temp_item)
            check = temp_item == prev_freq_itemset['itemset']
            print('\nCheck candidate from Previous Frequent Itemset\n', check)
            
            if any(check) == False:
                print(any(check))
                print('Val', value)
            else:
                print('\nAll of {} subset contained in \n{}'.format(candidate_set, prev_freq_itemset))
                if value not in temp:
                    temp.append(value)
                
    return temp

In [ ]:
for i in range(len(self_join_result)):
    get_subset(list(self_join_result[i]))
freq_itemset2_reset

Subset from ['bread', 'milk', 'butter'] : [{'milk', 'butter'}, {'bread', 'butter'}, {'bread', 'milk'}]
Subset from ['bread', 'milk', 'diapers'] : [{'milk', 'diapers'}, {'bread', 'diapers'}, {'bread', 'milk'}]
Subset from ['bread', 'milk', 'beer', 'diapers'] : [{'milk', 'beer', 'diapers'}, {'bread', 'beer', 'diapers'}, {'bread', 'milk', 'diapers'}, {'bread', 'milk', 'beer'}]
Subset from ['bread', 'milk', 'butter', 'diapers'] : [{'milk', 'butter', 'diapers'}, {'bread', 'butter', 'diapers'}, {'bread', 'milk', 'diapers'}, {'bread', 'milk', 'butter'}]
Subset from ['bread', 'butter', 'diapers'] : [{'butter', 'diapers'}, {'bread', 'diapers'}, {'bread', 'butter'}]
Subset from ['bread', 'butter', 'beer', 'diapers'] : [{'beer', 'butter', 'diapers'}, {'bread', 'beer', 'diapers'}, {'bread', 'butter', 'diapers'}, {'bread', 'butter', 'beer'}]
Subset from ['bread', 'beer', 'diapers'] : [{'beer', 'diapers'}, {'bread', 'diapers'}, {'bread', 'beer'}]
Subset from ['beer', 'milk', 'butter', 'diapers'] : [{'milk', 'butter', 'diapers'}, {'beer', 'butter', 'diapers'}, {'beer', 'milk', 'diapers'}, {'beer', 'milk', 'butter'}]
Subset from ['beer', 'milk', 'diapers'] : [{'milk', 'diapers'}, {'beer', 'diapers'}, {'beer', 'milk'}]
Subset from ['beer', 'butter', 'diapers'] : [{'butter', 'diapers'}, {'beer', 'diapers'}, {'beer', 'butter'}]
Subset from ['milk', 'butter', 'diapers'] : [{'butter', 'diapers'}, {'milk', 'diapers'}, {'milk', 'butter'}]

             itemset  sup
0      {bread, milk}    3
1    {bread, butter}    5
2   {bread, diapers}    3
3    {beer, diapers}    3
4     {milk, butter}    3
5    {milk, diapers}    4
6  {butter, diapers}    3

In [ ]:
candidate3_list = pruning(self_join_result, freq_itemset2_reset)

In [ ]:
candidate3_list

[{'bread', 'butter', 'milk'},
 {'bread', 'diapers', 'milk'},
 {'bread', 'butter', 'diapers'},
 {'beer', 'bread', 'diapers'},
 {'beer', 'diapers', 'milk'},
 {'beer', 'butter', 'diapers'},
 {'butter', 'diapers', 'milk'}]

In [ ]:
#Calculo de frecuencia de tres productos 
count_candidate3_df = count_support(df, candidate3_list)
count_candidate3_df

Database D dataframe
                             items
0           [milk, beer, diapers]
1           [bread, butter, milk]
2        [milk, diapers, cookies]
3        [bread, butter, cookies]
4        [beer, cookies, diapers]
5  [milk, diapers, bread, butter]
6        [bread, butter, diapers]
7                 [beer, diapers]
8  [milk, diapers, bread, butter]
9                 [beer, cookies]
(Initial) Dataframe from Candidate with All zeros sup
                     itemset  sup
0     {bread, milk, butter}    0
1    {bread, milk, diapers}    0
2  {bread, butter, diapers}    0
3    {bread, beer, diapers}    0
4     {beer, milk, diapers}    0
5   {beer, butter, diapers}    0
6   {milk, butter, diapers}    0

                    itemset  sup
0     {bread, milk, butter}    3
1    {bread, milk, diapers}    2
2  {bread, butter, diapers}    3
3    {bread, beer, diapers}    0
4     {beer, milk, diapers}    1
5   {beer, butter, diapers}    0
6   {milk, butter, diapers}    2

In [ ]:
freq_itemset3 = filter_sup(count_candidate3_df)
freq_itemset3

                    itemset  sup
0     {bread, milk, butter}    3
2  {bread, butter, diapers}    3

In [ ]:
#Soporte = 15% confianza = 70% 
itemsets, rules = apriori(a, min_support=0.15,  min_confidence=0.70)
countAssociationRules =  len(rules)
results = list(itemsets)
print("Soporte 15% Confianza 70% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

Soporte 15% Confianza 70%
Cantidad de reglas de asociación 10
-------------------------------------------
Reglas k=1
{beer} -> {diapers} (conf: 0.750, supp: 0.300, lift: 1.071, conv: 1.200)
{milk} -> {diapers} (conf: 0.800, supp: 0.400, lift: 1.143, conv: 1.500)
{butter} -> {bread} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
{bread} -> {butter} (conf: 1.000, supp: 0.500, lift: 2.000, conv: 500000000.000)
-------------------------------------------
Reglas k=2
{butter, milk} -> {bread} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{bread, milk} -> {butter} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{butter, diapers} -> {bread} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
{bread, diapers} -> {butter} (conf: 1.000, supp: 0.300, lift: 2.000, conv: 500000000.000)
-------------------------------------------
Reglas k=3
{butter, diapers, milk} -> {bread} (conf: 1.000, supp: 0.200, lift: 2.000, conv: 500000000.000)
{bread, diapers, milk} -> {butter} (conf: 1.000, supp: 0.200, lift: 2.000, conv: 500000000.000)

##Punto 4 “Conjunto de datos: C, D, E, G, A”

In [ ]:
b = [ ['A', 'B', 'C', 'D'], 
    [ 'A', 'C', 'D', 'F'], 
    ['C', 'D', 'E', 'G', 'A' ], 
    ['A', 'D', 'F', 'B' ], 
    ['B', 'C', 'G'], 
    ['D', 'F', 'G'], 
    ['A', 'B', 'G'], 
    ['C', 'D', 'F', 'G'] ]

In [ ]:
# todos los conjusntos posibles de la  base de datos

In [ ]:
itemsets, rules = apriori(b, min_support=0.15,  min_confidence=0.20)
countAssociationRules =  len(rules)
results = list(itemsets)
print("Soporte 45% Confianza 70% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

Soporte 45% Confianza 70%
Cantidad de reglas de asociación 64
-------------------------------------------
Reglas k=1
{G} -> {A} (conf: 0.400, supp: 0.250, lift: 0.640, conv: 0.625)
{A} -> {G} (conf: 0.400, supp: 0.250, lift: 0.640, conv: 0.625)
{D} -> {B} (conf: 0.333, supp: 0.250, lift: 0.667, conv: 0.750)
{B} -> {D} (conf: 0.500, supp: 0.250, lift: 0.667, conv: 0.500)
{C} -> {B} (conf: 0.400, supp: 0.250, lift: 0.800, conv: 0.833)
{B} -> {C} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{F} -> {A} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{A} -> {F} (conf: 0.400, supp: 0.250, lift: 0.800, conv: 0.833)
{F} -> {C} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{C} -> {F} (conf: 0.400, supp: 0.250, lift: 0.800, conv: 0.833)
{G} -> {D} (conf: 0.600, supp: 0.375, lift: 0.800, conv: 0.625)
{D} -> {G} (conf: 0.500, supp: 0.375, lift: 0.800, conv: 0.750)
{G} -> {B} (conf: 0.400, supp: 0.250, lift: 0.800, conv: 0.833)
{B} -> {G} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{G} -> {F} (conf: 0.400, supp: 0.250, lift: 0.800, conv: 0.833)
{F} -> {G} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{C} -> {A} (conf: 0.600, supp: 0.375, lift: 0.960, conv: 0.937)
{A} -> {C} (conf: 0.600, supp: 0.375, lift: 0.960, conv: 0.937)
{G} -> {C} (conf: 0.600, supp: 0.375, lift: 0.960, conv: 0.937)
{C} -> {G} (conf: 0.600, supp: 0.375, lift: 0.960, conv: 0.937)
{D} -> {A} (conf: 0.667, supp: 0.500, lift: 1.067, conv: 1.125)
{A} -> {D} (conf: 0.800, supp: 0.500, lift: 1.067, conv: 1.250)
{D} -> {C} (conf: 0.667, supp: 0.500, lift: 1.067, conv: 1.125)
{C} -> {D} (conf: 0.800, supp: 0.500, lift: 1.067, conv: 1.250)
{B} -> {A} (conf: 0.750, supp: 0.375, lift: 1.200, conv: 1.500)
{A} -> {B} (conf: 0.600, supp: 0.375, lift: 1.200, conv: 1.250)
{F} -> {D} (conf: 1.000, supp: 0.500, lift: 1.333, conv: 250000000.000)
{D} -> {F} (conf: 0.667, supp: 0.500, lift: 1.333, conv: 1.500)
-------------------------------------------
Reglas k=2
{D, F} -> {A} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{D, F} -> {C} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{C, D} -> {G} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{D, F} -> {G} (conf: 0.500, supp: 0.250, lift: 0.800, conv: 0.750)
{A, B} -> {D} (conf: 0.667, supp: 0.250, lift: 0.889, conv: 0.750)
{C, G} -> {D} (conf: 0.667, supp: 0.250, lift: 0.889, conv: 0.750)
{A, D} -> {B} (conf: 0.500, supp: 0.250, lift: 1.000, conv: 1.000)
{A, D} -> {F} (conf: 0.500, supp: 0.250, lift: 1.000, conv: 1.000)
{C, D} -> {F} (conf: 0.500, supp: 0.250, lift: 1.000, conv: 1.000)
{D, G} -> {C} (conf: 0.667, supp: 0.250, lift: 1.067, conv: 1.125)
{C, D} -> {A} (conf: 0.750, supp: 0.375, lift: 1.200, conv: 1.500)
{A, D} -> {C} (conf: 0.750, supp: 0.375, lift: 1.200, conv: 1.500)
{A, C} -> {D} (conf: 1.000, supp: 0.375, lift: 1.333, conv: 250000000.000)
{A, F} -> {D} (conf: 1.000, supp: 0.250, lift: 1.333, conv: 250000000.000)
{C, F} -> {D} (conf: 1.000, supp: 0.250, lift: 1.333, conv: 250000000.000)
{F, G} -> {D} (conf: 1.000, supp: 0.250, lift: 1.333, conv: 250000000.000)
{D, G} -> {F} (conf: 0.667, supp: 0.250, lift: 1.333, conv: 1.500)
{B, D} -> {A} (conf: 1.000, supp: 0.250, lift: 1.600, conv: 375000000.000)
-------------------------------------------
Reglas k=3

In [ ]:
#Creación de records con las listas 
b = [ ['A', 'B', 'C', 'D'], 
    [ 'A', 'C', 'D', 'F'], 
    ['C', 'D', 'E', 'G', 'A' ], 
    ['A', 'D', 'F', 'B' ], 
    ['B', 'C', 'G'], 
    ['D', 'F', 'G'], 
    ['A', 'B', 'G'], 
    ['C', 'D', 'F', 'G'] ] 
dict_data = {'items': b}
df = pd.DataFrame.from_dict(dict_data)
df

             items
0     [A, B, C, D]
1     [A, C, D, F]
2  [C, D, E, G, A]
3     [A, D, F, B]
4        [B, C, G]
5        [D, F, G]
6        [A, B, G]
7     [C, D, F, G]

In [ ]:
# Se valida los distintos productos que tenemos
items = []
for i in range(len(df)):
    for j in range(len(df['items'][i])):
        items.append(df['items'][i][j])
unique_item = set(items)
list_unique_item = list(unique_item)
list_unique_item

['G', 'B', 'F', 'A', 'D', 'C', 'E']

In [ ]:
##Creando el primer candidate K= 1
count_unique = []
for value in (list_unique_item):
    count_unique.append((value, items.count(value)))
count_unique

[('G', 5), ('B', 4), ('F', 4), ('A', 5), ('D', 6), ('C', 5), ('E', 1)]

In [ ]:
# Se crea un Dataframe con los cantidatos k=1 
candidate1_df = pd.DataFrame(count_unique, columns=["itemset", "sup"])
freq_itemset1 = filter_sup(candidate1_df)
freq_itemset11 = freq_itemset1.reset_index(drop=True)
freq_itemset11

  itemset  sup
0       G    5
1       B    4
2       F    4
3       A    5
4       D    6
5       C    5

In [ ]:
#Lista de posibles combinaciones de 2 productos 
candidate2_list = self_join(freq_itemset11)
candidate2_list
count_candidate2 = []
#Set the Initial value of Second Count Candidate (C2)
for i in range(len(candidate2_list)):
    count_candidate2.append((candidate2_list[i], 0))
initial_df_candidate = pd.DataFrame(count_candidate2, columns=['itemset', 'sup'])
initial_df_candidate

   itemset  sup
0   {G, B}    0
1   {G, F}    0
2   {G, A}    0
3   {G, D}    0
4   {C, G}    0
5   {F, B}    0
6   {A, B}    0
7   {D, B}    0
8   {C, B}    0
9   {F, A}    0
10  {F, D}    0
11  {C, F}    0
12  {A, D}    0
13  {C, A}    0
14  {C, D}    0

In [ ]:
count_candidate2_df = count_support(df, candidate2_list)

Database D dataframe
              items
0     [A, B, C, D]
1     [A, C, D, F]
2  [C, D, E, G, A]
3     [A, D, F, B]
4        [B, C, G]
5        [D, F, G]
6        [A, B, G]
7     [C, D, F, G]
(Initial) Dataframe from Candidate with All zeros sup
    itemset  sup
0   {G, B}    0
1   {G, F}    0
2   {G, A}    0
3   {G, D}    0
4   {C, G}    0
5   {F, B}    0
6   {A, B}    0
7   {D, B}    0
8   {C, B}    0
9   {F, A}    0
10  {F, D}    0
11  {C, F}    0
12  {A, D}    0
13  {C, A}    0
14  {C, D}    0

In [ ]:
count_candidate2_df

   itemset  sup
0   {G, B}    2
1   {G, F}    2
2   {G, A}    2
3   {G, D}    3
4   {C, G}    3
5   {F, B}    1
6   {A, B}    3
7   {D, B}    2
8   {C, B}    2
9   {F, A}    2
10  {F, D}    4
11  {C, F}    2
12  {A, D}    4
13  {C, A}    3
14  {C, D}    4

In [ ]:
#Calculo de frecuencia de dos items
# Se filtra basado en el mínimo soporte que en este caso es 3
freq_itemset2 = filter_sup(count_candidate2_df)
freq_itemset2_reset = freq_itemset2.reset_index(drop=True)
freq_itemset2_reset

  itemset  sup
0  {G, D}    3
1  {C, G}    3
2  {A, B}    3
3  {F, D}    4
4  {A, D}    4
5  {C, A}    3
6  {C, D}    4

In [ ]:
#Creación de K=3 , grupos de 3 ingredientes
print(freq_itemset2_reset)
self_join_result = self_join(freq_itemset2_reset)
print('self join result')
print(self_join_result)

  itemset  sup
0  {G, D}    3
1  {C, G}    3
2  {A, B}    3
3  {F, D}    4
4  {A, D}    4
5  {C, A}    3
6  {C, D}    4
self join result
[{'C', 'G', 'D'}, {'G', 'A', 'D', 'B'}, {'G', 'F', 'D'}, {'G', 'A', 'D'}, {'C', 'G', 'A', 'D'}, {'C', 'G', 'A', 'B'}, {'C', 'G', 'F', 'D'}, {'C', 'G', 'A'}, {'F', 'A', 'D', 'B'}, {'A', 'D', 'B'}, {'C', 'A', 'B'}, {'C', 'A', 'D', 'B'}, {'F', 'A', 'D'}, {'C', 'F', 'A', 'D'}, {'C', 'F', 'D'}, {'C', 'A', 'D'}]

In [ ]:
for i in range(len(self_join_result)):
    get_subset(list(self_join_result[i]))
freq_itemset2_reset

Subset from ['C', 'G', 'D'] : [{'G', 'D'}, {'C', 'D'}, {'C', 'G'}]
Subset from ['G', 'A', 'D', 'B'] : [{'A', 'D', 'B'}, {'G', 'D', 'B'}, {'G', 'A', 'B'}, {'G', 'A', 'D'}]
Subset from ['G', 'F', 'D'] : [{'F', 'D'}, {'G', 'D'}, {'G', 'F'}]
Subset from ['G', 'A', 'D'] : [{'A', 'D'}, {'G', 'D'}, {'G', 'A'}]
Subset from ['C', 'G', 'A', 'D'] : [{'G', 'A', 'D'}, {'C', 'A', 'D'}, {'C', 'G', 'D'}, {'C', 'G', 'A'}]
Subset from ['C', 'G', 'A', 'B'] : [{'G', 'A', 'B'}, {'C', 'A', 'B'}, {'C', 'G', 'B'}, {'C', 'G', 'A'}]
Subset from ['C', 'G', 'F', 'D'] : [{'G', 'F', 'D'}, {'C', 'F', 'D'}, {'C', 'G', 'D'}, {'C', 'G', 'F'}]
Subset from ['C', 'G', 'A'] : [{'G', 'A'}, {'C', 'A'}, {'C', 'G'}]
Subset from ['F', 'A', 'D', 'B'] : [{'A', 'D', 'B'}, {'F', 'D', 'B'}, {'F', 'A', 'B'}, {'F', 'A', 'D'}]
Subset from ['A', 'D', 'B'] : [{'D', 'B'}, {'A', 'B'}, {'A', 'D'}]
Subset from ['C', 'A', 'B'] : [{'A', 'B'}, {'C', 'B'}, {'C', 'A'}]
Subset from ['C', 'A', 'D', 'B'] : [{'A', 'D', 'B'}, {'C', 'D', 'B'}, {'C', 'A', 'B'}, {'C', 'A', 'D'}]
Subset from ['F', 'A', 'D'] : [{'A', 'D'}, {'F', 'D'}, {'F', 'A'}]
Subset from ['C', 'F', 'A', 'D'] : [{'F', 'A', 'D'}, {'C', 'A', 'D'}, {'C', 'F', 'D'}, {'C', 'F', 'A'}]
Subset from ['C', 'F', 'D'] : [{'F', 'D'}, {'C', 'D'}, {'C', 'F'}]
Subset from ['C', 'A', 'D'] : [{'A', 'D'}, {'C', 'D'}, {'C', 'A'}]

  itemset  sup
0  {G, D}    3
1  {C, G}    3
2  {A, B}    3
3  {F, D}    4
4  {A, D}    4
5  {C, A}    3
6  {C, D}    4

In [ ]:
candidate3_list = pruning(self_join_result, freq_itemset2_reset)
candidate3_list

In [ ]:
#Calculo de frecuencia de tres productos 
count_candidate3_df = count_support(df, candidate3_list)
count_candidate3_df

Database D dataframe
              items
0     [A, B, C, D]
1     [A, C, D, F]
2  [C, D, E, G, A]
3     [A, D, F, B]
4        [B, C, G]
5        [D, F, G]
6        [A, B, G]
7     [C, D, F, G]
(Initial) Dataframe from Candidate with All zeros sup
      itemset  sup
0  {C, G, D}    0
1  {G, F, D}    0
2  {G, A, D}    0
3  {C, G, A}    0
4  {A, D, B}    0
5  {C, A, B}    0
6  {F, A, D}    0
7  {C, F, D}    0
8  {C, A, D}    0

     itemset  sup
0  {C, G, D}    2
1  {G, F, D}    2
2  {G, A, D}    1
3  {C, G, A}    1
4  {A, D, B}    2
5  {C, A, B}    1
6  {F, A, D}    2
7  {C, F, D}    2
8  {C, A, D}    3

In [ ]:
freq_itemset3 = filter_sup(count_candidate3_df)
freq_itemset3

     itemset  sup
8  {C, A, D}    3

## Punto 6. Apriori y FP-Growth

In [6]:
# Conjunto de datos a trabajar 
c = [ ['A','B','C'], 
    [ 'A','C','D','E'], 
    ['A','B','D'], 
    ['A','C','F'], 
    ['A','B'], 
    ['A','E','F'], 
    ['A','B','D','E','F'], 
    ['A','F'],
    ['B','D','E'],
    ['B','D','E','F'],
    ['B','C','D','E'],
    ['C','D','E'] ]

In [8]:
# Apriori
#Soporte = 15% confianza = 70% 
itemsets, rules = apriori(c, min_support=0.10,  min_confidence=0.80) # En este punto se cambia los diferentes valores de Soporte y confianza
countAssociationRules =  len(rules)
results = list(itemsets)
print("*************************APRIORI*****************************")
print("Soporte 10% Confianza 80% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

*************************APRIORI*****************************
Soporte 10% Confianza 80%
Cantidad de reglas de asociación 16
-------------------------------------------
Reglas k=1
{F} -> {A} (conf: 0.800, supp: 0.333, lift: 1.200, conv: 1.667)
{E} -> {D} (conf: 0.857, supp: 0.500, lift: 1.469, conv: 2.917)
{D} -> {E} (conf: 0.857, supp: 0.500, lift: 1.469, conv: 2.917)
-------------------------------------------
Reglas k=2
{B, D} -> {E} (conf: 0.800, supp: 0.333, lift: 1.371, conv: 2.083)
{C, E} -> {D} (conf: 1.000, supp: 0.250, lift: 1.714, conv: 416666666.667)
{C, D} -> {E} (conf: 1.000, supp: 0.250, lift: 1.714, conv: 416666666.667)
{B, E} -> {D} (conf: 1.000, supp: 0.333, lift: 1.714, conv: 416666666.667)
{D, F} -> {B} (conf: 1.000, supp: 0.167, lift: 1.714, conv: 416666666.667)
{B, F} -> {D} (conf: 1.000, supp: 0.167, lift: 1.714, conv: 416666666.667)
{B, F} -> {E} (conf: 1.000, supp: 0.167, lift: 1.714, conv: 416666666.667)
{D, F} -> {E} (conf: 1.000, supp: 0.167, lift: 1.714, conv: 416666666.667)
-------------------------------------------
Reglas k=3
{D, E, F} -> {B} (conf: 1.000, supp: 0.167, lift: 1.714, conv: 416666666.667)
{B, E, F} -> {D} (conf: 1.000, supp: 0.167, lift: 1.714, conv: 416666666.667)
{B, D, F} -> {E} (conf: 1.000, supp: 0.167, lift: 1.714, conv: 416666666.667)

In [3]:
#Implementación algoritmo fpgrowth (FP Growth Algorithm)
# Se cargan las librerías
import pyfpgrowth

In [11]:
patterns = pyfpgrowth.find_frequent_patterns(c, 3)
patterns

{('A',): 8,
 ('A', 'B'): 4,
 ('A', 'C'): 3,
 ('A', 'D'): 3,
 ('A', 'E'): 3,
 ('A', 'F'): 4,
 ('B',): 7,
 ('B', 'D'): 5,
 ('B', 'D', 'E'): 4,
 ('B', 'E'): 4,
 ('C', 'D'): 3,
 ('C', 'D', 'E'): 3,
 ('C', 'E'): 3,
 ('D', 'E'): 6,
 ('E', 'F'): 3}

In [16]:
min_confidence= 0.2
rules = pyfpgrowth. generate_association_rules(patterns,min_confidence)
print("*************************FP-Growth(Frequent Pattern Growth) *****************************")
print("Mínimo de Confianza 20% ")
rules

*************************FP-Growth(Frequent Pattern Growth) *****************************
Mínimo de Confianza 20%

{('A',): (('E',), 0.375),
 ('B',): (('D', 'E'), 0.5714285714285714),
 ('B', 'D'): (('E',), 0.8),
 ('B', 'E'): (('D',), 1.0),
 ('C', 'D'): (('E',), 1.0),
 ('C', 'E'): (('D',), 1.0),
 ('D', 'E'): (('B',), 0.6666666666666666)}

## Punto 7. Tabla de Contingencia

In [17]:
# Se realiza la carga de información del punto 5 
d = [ ['A','B','D','E'], 
    [ 'B','C','D'], 
    ['A','B','D','E'], 
    ['A','C','D','E'], 
    ['B','C','D','E'], 
    ['B','D','E'], 
    ['C','D'],
    ['A','B','C'],
    ['A','D','E'],
    ['B','D'] ]

In [20]:
association_rules = apy(d, min_support=0.045, min_confidence=0.8, min_lift=1, min_length=1)
association_results = list(association_rules)
countAssociationRules =  len(association_results)
print("Cantidad de reglas de asociación " + str(countAssociationRules))
association_results

Cantidad de reglas de asociación 9

[RelationRecord(items=frozenset({'D'}), support=0.9, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'D'}), confidence=0.9, lift=1.0)]),
 RelationRecord(items=frozenset({'A', 'E'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A'}), items_add=frozenset({'E'}), confidence=0.8, lift=1.3333333333333335)]),
 RelationRecord(items=frozenset({'D', 'E'}), support=0.6, ordered_statistics=[OrderedStatistic(items_base=frozenset({'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)]),
 RelationRecord(items=frozenset({'D', 'A', 'E'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A'}), items_add=frozenset({'D', 'E'}), confidence=0.8, lift=1.3333333333333335), OrderedStatistic(items_base=frozenset({'D', 'A'}), items_add=frozenset({'E'}), confidence=1.0, lift=1.6666666666666667), OrderedStatistic(items_base=frozenset({'A', 'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)]),
 RelationRecord(items=frozenset({'D', 'E', 'B'}), support=0.4, ordered_statistics=[OrderedStatistic(items_base=frozenset({'E', 'B'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)]),
 RelationRecord(items=frozenset({'D', 'C', 'E'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'C', 'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)]),
 RelationRecord(items=frozenset({'E', 'D', 'A', 'B'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'D', 'A', 'B'}), items_add=frozenset({'E'}), confidence=1.0, lift=1.6666666666666667), OrderedStatistic(items_base=frozenset({'E', 'A', 'B'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)]),
 RelationRecord(items=frozenset({'D', 'C', 'A', 'E'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'D', 'C', 'A'}), items_add=frozenset({'E'}), confidence=1.0, lift=1.6666666666666667), OrderedStatistic(items_base=frozenset({'C', 'A', 'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)]),
 RelationRecord(items=frozenset({'E', 'D', 'C', 'B'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'E', 'C', 'B'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)])]

In [21]:
listRules = [list(association_results[i][0]) for i in range(0,len(association_results))] 
listRules

[['D'],
 ['A', 'E'],
 ['D', 'E'],
 ['D', 'A', 'E'],
 ['D', 'E', 'B'],
 ['D', 'C', 'E'],
 ['E', 'D', 'A', 'B'],
 ['D', 'C', 'A', 'E'],
 ['E', 'D', 'C', 'B']]

In [22]:
support = [association_results[i][1] for i in range(0,len(association_results))] # Extraemos los Soportes
support

[0.9, 0.4, 0.6, 0.4, 0.4, 0.2, 0.2, 0.1, 0.1]

In [23]:
relationRecords = [list(association_results[i][2]) for i in range(0,len(association_results))] # Extraemos los Records
records = [rec for rec in relationRecords]
confidence = [] # Lista Confianza
lift = [] # Lista Lift
for record in records:
  for aux in record:
    confidence.append(aux[2]) 
    lift.append(aux[3])
    break
records

[[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'D'}), confidence=0.9, lift=1.0)],
 [OrderedStatistic(items_base=frozenset({'A'}), items_add=frozenset({'E'}), confidence=0.8, lift=1.3333333333333335)],
 [OrderedStatistic(items_base=frozenset({'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)],
 [OrderedStatistic(items_base=frozenset({'A'}), items_add=frozenset({'D', 'E'}), confidence=0.8, lift=1.3333333333333335),
  OrderedStatistic(items_base=frozenset({'D', 'A'}), items_add=frozenset({'E'}), confidence=1.0, lift=1.6666666666666667),
  OrderedStatistic(items_base=frozenset({'A', 'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)],
 [OrderedStatistic(items_base=frozenset({'E', 'B'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)],
 [OrderedStatistic(items_base=frozenset({'C', 'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)],
 [OrderedStatistic(items_base=frozenset({'D', 'A', 'B'}), items_add=frozenset({'E'}), confidence=1.0, lift=1.6666666666666667),
  OrderedStatistic(items_base=frozenset({'E', 'A', 'B'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)],
 [OrderedStatistic(items_base=frozenset({'D', 'C', 'A'}), items_add=frozenset({'E'}), confidence=1.0, lift=1.6666666666666667),
  OrderedStatistic(items_base=frozenset({'C', 'A', 'E'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)],
 [OrderedStatistic(items_base=frozenset({'E', 'C', 'B'}), items_add=frozenset({'D'}), confidence=1.0, lift=1.1111111111111112)]]

In [24]:
association_data = pd.DataFrame({'labels': listRules, 'support': support,'confidence': confidence,'lift': lift})
association_data

         labels  support  confidence      lift
0           [D]      0.9         0.9  1.000000
1        [A, E]      0.4         0.8  1.333333
2        [D, E]      0.6         1.0  1.111111
3     [D, A, E]      0.4         0.8  1.333333
4     [D, E, B]      0.4         1.0  1.111111
5     [D, C, E]      0.2         1.0  1.111111
6  [E, D, A, B]      0.2         1.0  1.666667
7  [D, C, A, E]      0.1         1.0  1.666667
8  [E, D, C, B]      0.1         1.0  1.111111

In [25]:
itemsets, rules = apriori(d, min_support=0.10,  min_confidence=0.80) # En este punto se cambia los diferentes valores de Soporte y confianza
countAssociationRules =  len(rules)
results = list(itemsets)
print("*************************APRIORI*****************************")
print("Soporte 10% Confianza 80% ")
print("Cantidad de reglas de asociación " + str(countAssociationRules))
print("------------------------------------------- ")
print("Reglas k=1")
rules_rhs = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=2")
rules_rhs2 = filter(lambda rule: len(rule.lhs) == 2 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs2, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...
print("------------------------------------------- ")
print("Reglas k=3")
rules_rhs3 = filter(lambda rule: len(rule.lhs) == 3 and len(rule.rhs) == 1, rules)
for rule in sorted(rules_rhs3, key=lambda rule: rule.lift):
  print(rule)  # Prints the rule and its confidence, support, lift, ...

*************************APRIORI*****************************
Soporte 10% Confianza 80%
Cantidad de reglas de asociación 15
-------------------------------------------
Reglas k=1
{A} -> {D} (conf: 0.800, supp: 0.400, lift: 0.889, conv: 0.500)
{C} -> {D} (conf: 0.800, supp: 0.400, lift: 0.889, conv: 0.500)
{B} -> {D} (conf: 0.857, supp: 0.600, lift: 0.952, conv: 0.700)
{E} -> {D} (conf: 1.000, supp: 0.600, lift: 1.111, conv: 100000000.000)
{A} -> {E} (conf: 0.800, supp: 0.400, lift: 1.333, conv: 2.000)
-------------------------------------------
Reglas k=2
{A, E} -> {D} (conf: 1.000, supp: 0.400, lift: 1.111, conv: 100000000.000)
{B, E} -> {D} (conf: 1.000, supp: 0.400, lift: 1.111, conv: 100000000.000)
{C, E} -> {D} (conf: 1.000, supp: 0.200, lift: 1.111, conv: 100000000.000)
{A, D} -> {E} (conf: 1.000, supp: 0.400, lift: 1.667, conv: 400000000.000)
-------------------------------------------
Reglas k=3
{A, B, E} -> {D} (conf: 1.000, supp: 0.200, lift: 1.111, conv: 100000000.000)
{A, C, E} -> {D} (conf: 1.000, supp: 0.100, lift: 1.111, conv: 100000000.000)
{B, C, E} -> {D} (conf: 1.000, supp: 0.100, lift: 1.111, conv: 100000000.000)
{A, B, D} -> {E} (conf: 1.000, supp: 0.200, lift: 1.667, conv: 400000000.000)
{A, C, D} -> {E} (conf: 1.000, supp: 0.100, lift: 1.667, conv: 400000000.000)